.home{
    display: flex;
    padding-top: 30px;
}
.main{
    /*max-width:750px;
    width:100%;
    height: 400px;*/
    padding-top: 10rem;
    margin-left: 100px;
}
h1{
    color:#44444E;
    font-size: 80px;
}
.split-text-container {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #44444E;
    overflow: hidden;
    height: 70px;
    align-items: center;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

.me{
    max-width:600px;
    width:100%;
    margin-top: 30px;

}
h3{
    font-size: 26px;
}
/*BUTTON*/
.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

/* 1. Pulse Animation */
.btn-pulse {
  background-color: #44444E;
  color: white;
  animation: pulse 1.5s infinite;
}
@keyframes pulse{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*LOGO*/
.iconbox{
    max-width:600px;
    width:100%;
}
.icon{
    font-size: 30px;
    margin-left: 25px;
}
/* IMAGE */
.pic {
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    animation: float 4s ease-in-out infinite;
    transition: all 0.3s ease;
    border: 10px solid #44444E;
    cursor: pointer;
}
.pic:hover{
    transform:scale(1.1);
}
img{
    margin-left: 150px;
    margin-top: 150px;
}

@media screen and (max-width: 1024px) {

    .home{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    /*.main{
        width:90%;
        margin-left:0;
        padding-top:8rem;
    }*/

    .me{
        width:100%;
    }

    .iconbox{
        width: 100%;
    }

    .pic{
        width:300px;
        margin:50px;
    }
}


@media screen and (max-width: 480px){

    .split-text-container{
        font-size:2rem;
    }

    .pic{
        width:250px;
    }
}

@media screen and (max-width: 768px) {

    h3{
        font-size:18px;
    }

    .split-text-container{
        flex-direction:column;
        font-size:2rem;
        height:auto;
    }

    .main{
        text-align:center;
    }

    .me{
        width:100%;
    }

    .iconbox{
        width: 100%;
    }

    .pic{
        width:220px;
        margin:auto;
    }
}

@media screen and (max-width: 1300px) {

    .home{
        display:inline-block;
        align-items:center;
        text-align:center;
    }

    .main{
        margin-left:0;
    }

    .me{
        width:100%;
    }

    .iconbox{
        width: 100%;
    }

    .icon{
        margin-left: 10px;
        margin-right: 16px;
    }

    .pic{
        /*width:350px;*/
        margin:40px;
    }
}